
  @media screen and (max-width: 768px) {
   
  
    .First-section  .left
    {
    display: None;
    }
    .First-section  .right
    {
        display: block;
    }
    .First-section > div {
      margin-bottom: 20px; 
    }
  
    .second-section {
      display: block;
      margin-top: 20px; 
    }
    .second{
        display: none;
    }
  } 